<ion-header>
  <ion-toolbar>
    <ion-title>Binding</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-input
        type="text"
        placeholder="Input your name here"
        [(ngModel)]="name"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Your name is: {{ name }}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-button (click)="sayHi()" expand="full">Say hi</ion-button>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Ionic logo image:</ion-label>
      <ion-img [src]="imageSrc"></ion-img>
    </ion-item>
  </ion-list>
</ion-content>
